# To run pipeline.ipynb, you need to create a .env file in the same directory 
# as pipeline.ipynb and add the following lines with your own credentials: 

MONGO_URI = "mongodb+srv://<username>:<password>@<cluster>.mongodb.net/..."
NASS_API_KEY = '<your_nass_api_key>'
